.cartItem {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 30px;
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 20px;
}

.cartItemImg {
    border-radius: 30px;
    max-width: 100%;
    width: 180px;
}

.cartItemName {
    font-size: 1.3rem;
    font-weight: 900;
}

.cartItemCount {
    width: 40px;
    text-align: center;
    font-weight: 700;
    border: 2px solid black;
}

.cartItemDecrease,
.cartItemIncrease {
    background-color: black;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}

@media screen and (max-width: 630px) {
    .cartItem {
        display: block;
        width: 250px;
    }
}