.navbar {
    background-color: #121212;
    padding: 20px;
}

.navbar a {
    margin: 0 15px 0 15px;
    color: white;
    text-decoration: none;
    font-weight: 900;
}

.navbar a.active {
    color: green;
}

@media screen and (max-width: 310px) {
    .navbar a {
        font-size: 13px;
    }
}