.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 30px;
    margin: 20px;
}

.product img {
    border-radius: 30px;
    max-width: 100%;
    width: 500px;
}

.addToCart {
    width: 150px;
    height: 30px;
    background-color: black;
    border: 1px solid;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.addToCart:hover {
    background-color: white;
    color: black;
}