.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 30px;
    margin: 20px;
}

.product img {
    border-radius: 30px;
    max-width: 100%;
}